/* 
 * Classyo Caawimaad no ah
 * Waxan ugu talo galnay in aan ku keydsano 
 * propertieska so noq noqanaya 
 * intii an soo celin lahyn hal class baan ku keydsanayo
*/
//* overfflow hide when the menu is open
.overflow {
  overflow-y: hidden;
}

//* Section & Containers
.section {
  padding: 0 54px;
  @media screen and (max-width: 1440px) {
    padding: 0 40px;
  }
  @media screen and(max-width:400px) {
    padding: 0 20px;
  }
}
.container {
  max-width: 1883px;
  margin: 0 auto;
  @media screen and (max-width: 1440px) {
    max-width: 1440px;
  }
}

.content-section {
  padding: 0 100px;
  height: 100%;
  @media screen and(max-width:540px) {
    padding: 0 25px;
  }
  @media screen and(max-width:400px) {
    padding: 0 15px;
  }
}

.content-container {
  max-width: 1630px;
  margin: 0 auto;
  height: 100%;
  @media screen and (max-width: 1440px) {
    max-width: 1140px;
  }
}

// home background

//* gradient color and bg Colors
.gradient-color {
  background: $tertiary-color;
  background: linear-gradient(45deg, $tertiary-color 0%, $blue-color 100%);
}

// overlay background color
.overlay-bg {
  background: $white-color;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

// nav background
.vg__navbg {
  position: relative;
  background-color: $nav-color;

  z-index: 3;
}

// subment bakground color
.bg-submenu {
  background-color: $secondary-color;
  background-size: cover;
  background-position: center center;
}

// header button
.vg__addToCartBtn {
  @include flex(space-betwean, center);
  padding: 0.7rem 2rem;
  border: 0;
  outline: none;
  border-radius: 4px;
  @include playfonts(17px, 500, $white-color);
}

// farta colorkeeda badal hadii on sales lajoogo
.isOnSale {
  color: $tertiary-color !important;
}

.home__bg {
  background-image: url("../Assets/body.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// about background
.about_bg {
}
.about__header-bg {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), $primary-color),
    linear-gradient(to left, rgba(0, 0, 0, 0.2) 85%, $primary-color),
    linear-gradient(to right, rgba(0, 0, 0, 0.2) 75%, $primary-color),
    url("../Assets/About/aboutCover.png");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
