@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Play:wght@400;700&display=swap");

/* 
 * Variableska no haynayo 
 * faraha aan isiticmaalnay
 * iyo midabada 
*/

/* faraha */
$main-font: "Open Sans", sans-serif;
$second-font: "Play", sans-serif;

/* midabada */
$primary-color: #192233;
$secondary-color: #212c42;
$tertiary-color: #6e3dc8;
$nav-color: #131926;

$gray: #8b97ae;
$light-gray: #212c42;
$white-color: #fff;
$black-color: #000;
$blue-color: #3593eb;
