@import "variables", "mixins";

.vg__populars {
  @include flex(space-betwean, flex-start);
  width: 100%;

  // scrolbarka ikska qari
  scrollbar-width: none;
  overflow-x: auto;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
